@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./prism.css";
@import "./button.css";
@import "./tabs.css";
@import "./scrollbar.css";
@import "./custom-cursor.css";
/* @import "./star-background.css";
@import "./circuit-board.css"; */
@import "./cyber-background.css";
@import "./audio-wave.css";
@import "./table.css";

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  cursor: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
